.main {
  width: 1000px;
  background: gray;
  margin: 0 auto;
  padding: 0 5px;
  border-radius: 7px;
}
.header {
  background: #54d454;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 7px;
}
.header-top {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.nav {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  background: #29e929;
  margin: 10px 10px;
  padding: 20px 0;
  border-radius: 7px;
  font-weight: bold;
  font-size: 20px;
}
.content {
  display: flex;
  flex-direction: row;
  background: #54d454;
  padding: 5px;
  border-radius: 7px;
}
.welcome {
  background: #29e929;
  width: 77%;
  margin: 10px;
  padding: 0 10px;
  line-height: 1.5rem;
  border-radius: 7px;
}
.favorite {
  background: #29e929;
  width: 23%;
  margin: 10px;
  border-radius: 7px;
  border-radius: 7px;
}
.footer {
  background: #54d454;
  height: 100px;
  padding: 10px;
  margin-top: 20px;
  border-radius: 7px;
}

img {
  border-radius: 7px;
}
