/* General setup */

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Lora";
  src: url("fonts/Lora-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("fonts/RobotoSlab-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

html {
  font-size: 62.5%; /* 62.5% of 16px, making it 10px */
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
  font-family: "Lora";
  font-size: 1rem; /* 10px */
  line-height: 1.5;
  letter-spacing: 1px;
  word-spacing: 2px;
}

h1 {
  font-family: "Roboto Slab", sans-serif;
  font-size: 2rem; /* 20px */
}

h2 {
  font-size: 1.5rem; /* 15px */
}

p {
  font-size: 0.875rem; /* 8.75px */
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header,
section,
aside,
nav,
footer {
  padding: 20px;
}

/* header and footer */
header {
  text-align: center;
}

header,
footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */

section p {
  text-indent: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab";
  letter-spacing: 3px;
}

a {
  color: #007acc;
}

a:focus,
a:hover {
  text-decoration: none;
}

a:visited {
  color: blue;
}

a:focus {
  outline: none;
  color: orange;
  outline: none;
}

a:hover {
  color: red;
}

a:active {
  color: #aa6666;
}
