body {
  background: black;
  margin: 0;
}
.main {
  background: white;
  margin: 0 auto;
  width: 60%;
  height: 1000px;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}
.article {
  background: #cccccc;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.article-text {
  padding: 10px 20px;
}
