body {
  font-family: helvetica, sans-serif;
}

.box {
  width: 350px;
  background: lightblue;
  border: 1px solid black;
  padding: 20px;
  margin: 100px auto;
}

label {
  font-weight: bold;
}

div {
  padding-bottom: 20px;
}

input[type="text"] {
  padding: 5px;
  width: 150px;
}

p {
  background: #ffc125;
  color: #5e2612;
  padding: 10px;
  visibility: hidden;
}
